FACEBOOK_APP_ID=your_facebook_app_id
FACEBOOK_APP_SECRET=your_facebook_app_secret
FACEBOOK_REDIRECT_URI=http://localhost:8000/auth/facebook/callback
FACEBOOK_GRAPH_VERSION=v26.0
FACEBOOK_LOGIN_SCOPE=pages_messaging
FACEBOOK_VERIFY_TOKEN=EAAWZBjdKeFhgBSv3AmQLJ5TmReMgIQ0MznlQZCbJZAXZAMZCRz1x7abYZB3i9Y8ZAUoyDIdnewtdevCr1SiIzJ08YdLx6jZCzngGTOxtCIznao8aJM39RePCulgieFGbwJdryFIJ8gDKMwTDi9PrIbhWmjx8mQWeZBU6sQ1ZBsKZAiZBassVWLV8ZCEd3wJlooScBFSQD06nZAX4xFeul8XAfnqtEvqQTBFn3grLQJ5aopFuPTsfTHJs5AEgiDsGcSlbMj7sao5pVTPJwtIQXRz749XxpRNpaC
FACEBOOK_PAGE_ACCESS_TOKEN=EAAWZBjdKeFhgBSg1YPaiG8Xxm5WY2mgvDnNRhLqN161LS4vi112YLtYbvQy6RL7XZBF6TBYZA4xB5uxst2UVGcvJn73Wp3VGiz0M91IkuhjQHfYr7JMgvoEgRJKQqKZBRwdndM80sLtf93qWhLZAQhGQFqlVHcUD5jf1lr6LpbYa2YflUZA0iqmlOMCmlDY8Omdcvyhy2TcOQBN2s9yQdM7gZDZD
